body{
    font-family: "Sofia", sans-serif;
    background-image: url(pexels-elīna-arāja-3377405.jpg);
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.h1:hover {transition: transform .3s; transform: scale(1.02);}
.p1:hover {transition: transform .3s; transform: scale(1.02);}
.p2:hover {transition: transform .3s; transform: scale(1.02);}
.p3:hover {transition: transform .3s; transform: scale(1.02);}
.p4:hover {transition: transform .3s; transform: scale(1.02);}
.p5:hover {transition: transform .3s; transform: scale(1.02);}
.homeicon:hover {transition: transform .3s; transform: scale(1.02);}
.menu:hover {transition: transform .3s; transform: scale(1.02);}
.favorite:hover {transition: transform .3s; transform: scale(1.02);}
.favorite1:hover {transition: transform .3s; transform: scale(1.02);}
.user:hover {transition: transform .3s; transform: scale(1.02);}
.user1:hover {transition: transform .3s; transform: scale(1.02);}
.userinfo:hover {transition: transform .3s; transform: scale(1.02);}
.motto:hover {transition: transform .3s; transform: scale(1.02);}
.fullname:hover {transition: transform .3s; transform: scale(1.02);}
.profile:hover {transition: transform .3s; transform: scale(1.02);}
.profile1:hover {transition: transform .3s; transform: scale(1.02);}
.pob1:hover {transition: transform .3s; transform: scale(1.02);}
.cs1:hover {transition: transform .3s; transform: scale(1.02);}
.r1:hover {transition: transform .3s; transform: scale(1.02);}
.c1:hover {transition: transform .3s; transform: scale(1.02);}
.h1:hover {transition: transform .3s; transform: scale(1.02);}
.pob2:hover {transition: transform .3s; transform: scale(1.02);}
.cs2:hover {transition: transform .3s; transform: scale(1.02);}
.r2:hover {transition: transform .3s; transform: scale(1.02);}
.c2:hover {transition: transform .3s; transform: scale(1.02);}
.h2:hover {transition: transform .3s; transform: scale(1.02);}
.bio:hover {transition: transform .3s; transform: scale(1.02);}
.homeicon2:hover {transition: transform .3s; transform: scale(1.02);}
.google:hover {transition: transform .3s; transform: scale(1.02);}
.googlemap:hover {transition: transform .3s; transform: scale(1.02);}
.facebook:hover {transition: transform .3s; transform: scale(1.02);}
.messenger:hover {transition: transform .3s; transform: scale(1.02);}
.youtube:hover {transition: transform .3s; transform: scale(1.02);}




h1{
    border: solid black;
    background-color:whitesmoke;
}

.p1{
    border: solid black;
    background-color: whitesmoke;
}

.p2{
    border: solid black;
    background-color: whitesmoke;
}

.p3{
    border: solid black;
    background-color: whitesmoke;
}

.p4{
    border: solid black;
    background-color: whitesmoke;
}

.p5{
    border: solid black;
    background-color: whitesmoke;
}

.homeicon{
    width: 100px;
    height: 100px;
    position:relative;
    top: 10px;
    left: -590px;
}

.menu{
    text-align: center;
    border: solid black;
    background-color: whitesmoke;
}

.favorite{
    position: relative;
    top: 25px;
    left: -550px;
    width: 150x;
    height:150px;
}

.favorite1{
    position: relative;
    top: -100Px;
    left:10px;
    margin-left: 200px;
    margin-right: 10px;
    text-align: center;
    border: solid black;
    background-color: whitesmoke;
}

.user{
    position: relative;
    top: -10px;
    left:-550px;
    width: 100px;
    height: 100px;
}

.user1{
    position: relative;
    top: -115px;
    left:10px;
    margin-left: 200px;
    margin-right: 10px;
    text-align: center;
    border: solid black;
    background-color: whitesmoke;
}

.userinfo {
    text-align: center;
    border: solid black;
    background-color: whitesmoke;
    
}

.motto  {
    text-align:center;
    border: solid black;
    background-color: whitesmoke;
    position: absolute;
    top:300px;
    right:300px;
    left:40px;
    padding-left:200px;
    padding-right:200px;
    padding-top:30px;
    padding-bottom:28px;
   
}

.fullname {
    border: solid black;
    background-color: whitesmoke;
    position:absolute;
    top:190px;
    right:300px;
    left:40px;
    text-align: center;
    padding-left:200px;
    padding-right:200px;
    padding-top:5px;
    padding-bottom:20px;

}

.profile {
    border: solid black;
    background-color: whitesmoke;
    position: absolute;
    top:195px;
    left:1090px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.profile1{
    border: solid black;
    background-color: whitesmoke;
    position: absolute;
    top:-10px;
    left:-20px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    width: 220px;
    height: 220px;
    
}

.pob1 {
    position: relative;
    top: 350px;
    left: 300px;
    margin-right: 1030px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.cs1 {
    position: relative;
    top: 350px;
    left: 300px;
    margin-right: 1030px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.r1 {
    position: relative;
    top: 350px;
    left: 300px;
    margin-right: 1030px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.c1 {
    position: relative;
    top: 350px;
    left: 300px;
    margin-right: 1030px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.h1{
    position: relative;
    top: 350px;
    left: 300px;
    margin-right: 1030px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}

.pob2{
    position: relative;
    top: 15px;
    left: 600px;
    margin-right: 980px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.cs2 {
    position: relative;
    top: 15px;
    left: 600px;
    margin-right: 980px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.r2 {
    position: relative;
    top: 15px;
    left: 600px;
    margin-right: 980px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.c2 {
    position: relative;
    top: 15px;
    left: 600px;
    margin-right: 980px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}
.h2 {
    position: relative;
    top: 15px;
    left: 600px;
    margin-right: 980px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    background-color: whitesmoke;
}

.bio {
    position: relative;
    top:115px;
    left: 145px;
    margin-right: 144px;
    padding: 10px 10px 10px 10px;
    border: solid black;
    background-color: whitesmoke;
} 

.homeicon2{
    width: 100px;
    height: 100px;
    position:relative;
    top: 10px;
    left: -590px;
}